<div class="page-container">
  <%= link_to baskets_path do %>
  <i class="fa-solid fa-arrow-left stretch arrow" id="arrow"></i>
  <%end%>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path @restaurant.photo.key %>)">
  </div>
  <div class="container">
  <h1 class="text-center pt-4 pb-2"><%= @restaurant.name %></h1>
  <% @orders.each do |order| %>
    <div class="d-flex order-card">
      <div class="flex-fill">
        <div class="d-flex flex-row justify-content-between px-3 pt-3 text-wrap">
          <h4 class="me-auto pt-1"><%= order.product.name %></h4>
          <h4><%= order.product.price %> €</h4>
        </div>
        <div class="ms-3 pe-3 pb-3">
          <p><%= order.product.ingredients %></p>
          <% unless order.comments.empty? %>
            <p>Your preferences :</p>
            <%# <p><%= order.product.description </p> %>
            <p><%= order.comments %></p>
          <% end %>
          <% if order.review.nil? %>
            <div class="rating pt-3">
              <%= simple_form_for [@restaurant,order.product, order, @review],  data: { controller: "form-submit", action: "click->form-submit#submit" } do |f| %>
                <%= f.input :rating, collection: (1..5).to_a, label: false, input_html: {data: { controller: "star-rating", options: {tultip: false, clearable: false } } } %>
                <%= f.submit class:"d-none" %>
              <% end %>
            </div>
          <% else %>
            <div class="rating pt-3">
              <% rating = order.review.rating %>
              <span class="gl-star-rating gl-star-rating--ltr" data-star-rating>
                <span class="gl-star-rating--stars s0"  data-rating="0" >
                  <% rating.times do  %>
                    <span class="gl-active"></span>
                  <% end %>
                  <% (5-rating).times do %>
                    <span ></span>
                  <% end %>
                </span>
              </span>
            </div>
          <% end %>
        </div>
      </div>
      <%= cl_image_tag order.product.photo.key, width: 400, height: 300, crop: :fill %>
    </div>
  <% end %>
  </div>
</div>
