<div class="container">
  <h1 class="pt-3">My Restaurants</h1>
  <div class="restaurant pt-4">
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <div class="card-product d-flex">
          <div class="flex-fill">
            <div class="d-flex flex-row justify-content-between px-3 pt-3 text-wrap">
              <h4 class="text-dark me-auto"><%= restaurant.name %></h4>
            </div>
            <div class="text-dark ms-3 pe-3 pb-1"><p><%= restaurant.address %></p></div>
            <div class="btn btn-dark mt-2 ms-3 pe-3 py-1"> <%= link_to "QR Codes", new_restaurant_table_path(restaurant), class: "text-white" %></div>
          </div>
          <%= link_to restaurant_path(restaurant) do %>
            <% if restaurant.photo.attached? %>
              <%= cl_image_tag restaurant.photo.key, width: 400, height: 300, crop: :fill %>
            <% else %>
              <%=  image_tag "https://t4.ftcdn.net/jpg/03/08/68/19/360_F_308681935_VSuCNvhuif2A8JknPiocgGR2Ag7D1ZqN.jpg" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
