<div class="button-container">
  <% unless @restaurant.user == current_user %>
    <button id="basket-btn" class="btn btn-dark" type="button"><%= link_to "See the cart (#{@basket.orders.count})", restaurant_table_basket_path(@restaurant, @table, @basket), style: "text-decoration: none; color: white;" %></button><br>
  <% end %>
</div>

<% if @restaurant.user == current_user %>
  <%= link_to restaurants_path do %>
    <i class="fa-solid fa-arrow-left stretch arrow" id="arrow"></i>
  <% end %>
<% end %>
<% if @restaurant.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path @restaurant.photo.key %>)"></div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://t4.ftcdn.net/jpg/03/08/68/19/360_F_308681935_VSuCNvhuif2A8JknPiocgGR2Ag7D1ZqN.jpg)"></div>
<% end %>
<div class="container">
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start">
      <h1 class="pt-3 lh-1"><%= @restaurant.name %></h1>
      <% if @restaurant.user == current_user %>
        <div class="icon pl-4">
          <%= link_to edit_restaurant_path(@restaurant) do %>
            <i class="fa-regular fa-pen-to-square fa-lg px-4 pt-4" style="color: #000000;"></i>
          <% end %>
        </div>
      <% end %>
    </div>
      <% if current_user.restaurants.any? %>
        <% if current_user.restaurants.include?(@restaurant)  %>
          <div class="icons pt-3">
            <%= link_to new_restaurant_product_path(@restaurant) do %>
              <i class="fa-solid fa-circle-plus pt-4 pr-3 fa-2xl" style="color: #000000;" ></i>
            <% end %>
          </div>
        <% end %>
      <% end %>
  </div>
  <p class="fw-light lh-1"><%= @restaurant.address %></p>
</div>
<div data-controller="refresh-list">
  <div class="container-search">
    <%= form_with url: restaurant_path, method: :get, html: { class: 'mb-5', data: { refresh_list_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                        class: "form-control",
                        placeholder: 'Search',
                        value: params[:query],
                        data: {
                          refresh_list_target: 'searchInput',
                          action: "keyup->refresh-list#update"
                        } %>
                          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    </div>
    <% end %>
  <div class="container">
    <div class="ps-0 list-inline tabs-underlined">
      <% Product::DISH_TYPE.each do |type|  %>
        <a href="#<%= type.downcase.tr(" ", "-") %>" class="tab-underlined"><%= type %></a>
      <% end %>
    </div>
    <div class="sections" data-refresh-list-target="list">
      <% Product::DISH_TYPE.each do |type|  %>
        <div id="<%= type.downcase.tr(" ", "-") %>">
        <h4 class="pt-2"><%= type %></h4>
          <%@products.where(dish_type: type).each do |product|%>
            <%= link_to restaurant_product_path(@restaurant,product) do %>
              <div class="card-product d-flex ">
                <div class="flex-fill">
                  <div class="d-flex flex-row justify-content-between px-3 pt-3">
                    <h4 class="me-auto"><%= product.name %></h4>
                    <%# <p class="pt-2 pb-1 text-break"><%= product.description </p> %>
                    <h4><%= product.price %> €</h4>
                  </div>
                    <div class="ms-3 pe-3 pb-3"><p><%= product.ingredients %></p></div>
                </div>
                  <% if product.photo.attached? %>
                    <%= cl_image_tag product.photo.key, width: 400, height: 300, crop: :fill %>
                  <% else %>
                    <%=  image_tag "https://t4.ftcdn.net/jpg/03/08/68/19/360_F_308681935_VSuCNvhuif2A8JknPiocgGR2Ag7D1ZqN.jpg" %>
                  <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
