<%= link_to restaurant_path(@restaurant) do %>
  <i class="fa-solid fa-arrow-left stretch arrow" id="arrow"></i>
<%end%>
<div class="product">
  <%= render "products/product", product: @product %>
  <% unless @restaurant.user == current_user %>
    <div class="prod-form button-container">
      <div id="add-product">
        <%= simple_form_for [@restaurant, @product, @order], html: ({class: "w-100"}) do |f| %>
          <%= f.input :comments, label: false, placeholder: "Tell us your preferences" %>
          <%= f.submit 'Add to cart', class:"btn btn-dark", id:"add-product-btn" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
