<div class="prod-header" style="background-image: url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
</div>
<h4><%= @product.name %></h4>
<p><%= @product.price %>€</p>
<p><%= @product.description %></p>
<%# check if comment goes on @order %>
<%# <%= simple_form_for(@order) do |f| %>
  <%# <%= f.input :comment %>
  <%# <%= f.submit %>
<%# <% end %>
